@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto',sans-serif !important;
  background-color: #fdfcfa;
  padding: 0 5rem; }

header {
  padding: 1.1rem 0; }

nav {
  padding: 0 !important; }

section {
  margin: 0 !important; }

.brand {
  font-family: 'Roboto',sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  letter-spacing: .025em; }
  .brand:hover {
    color: #000;
    text-decoration: none; }

.nav-item:not(:last-child) {
  margin-right: 2.1rem; }

.nav-link {
  font-family: 'Roboto',sans-serif;
  font-size: .88rem;
  font-weight: 500;
  text-transform: uppercase; }

.cart {
  cursor: pointer;
  margin-right: 2rem; }
  .cart__icon {
    width: 2.5rem;
    height: 1.3rem; }

.form-control.form-control.form-control:hover, .search__btn:hover ~ .form-control.form-control.form-control {
  visibility: visible;
  width: 55%;
  border: 1px solid #ced4da; }

.search__bar.form-control.form-control {
  visibility: hidden;
  width: 0%;
  border: none;
  transition: width .8s,visibility .8s; }

.search__icon {
  width: 1.18rem;
  height: 1.18rem;
  fill: #fff; }

.search__btn {
  height: 3.1rem;
  width: 3.1rem;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  order: 3; }

.social > * {
  margin-bottom: 1rem; }

.social__icon {
  width: 1rem;
  height: 1rem; }

.heading--main {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 12.5rem; }

.heading--sup {
  font-size: 1.125rem;
  color: #ddc4a0;
  text-transform: uppercase;
  letter-spacing: .3em; }

.heading--sub {
  font-size: 1.125rem;
  max-width: 85%;
  margin-bottom: 2rem;
  line-height: 2; }

.cta {
  color: #000;
  font-family: 'Poppins';
  font-size: 1rem;
  font-weight: 700;
  text-decoration: underline;
  line-height: 2.3;
  text-transform: uppercase;
  text-underline-position: under; }

.hero {
  height: 52rem; }
  .hero__image {
    height: 100%;
    margin-right: -3rem; }
